<div class="container">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <form>
            <div class="form-group row">
                <label for="username" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
                </div>
            </div>

            <div class="form-group row">
                <label for="useremailname" class="col-form-label col-sm-2">Correo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="email" [(ngModel)]="user.email">
                </div>
            </div>

            <div class="form-group row">
                <label for="Password" class="col-form-label col-sm-2">Password</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="Password" [(ngModel)]="user.password">
                </div>
            </div>

            <button class="btn btn-success" role="button" (click)='create()' *ngIf="!user.id else elseBlock">Registrar</button>

            <ng-template #elseBlock>
                <button class="btn btn-success" role="button" (click)='update()'>Actualizar</button>
            </ng-template>


            
        </form>

    </div>

</div>
