<div container>
<h1>{{titulo}}</h1>
<button class="btn btn-info" type="button" [routerLink]="['/users/form']">Nuevo Usuario</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Password</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = " let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}nombre</td>
        <td>{{user.email}}corre</td>
        <td>{{user.password}}password</td>
        <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/users/form',user.id]">Editar</button></td>
        <td><button class="btn btn-danger" (click)="delete(user)"> Eliminar </button></td>
      </tr>

    </tbody>
  </table>

</div>