<div>
    <div class="col-md-4 mx-auto">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">User</th>
                    <th scope="col">Type</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody *ngFor="let user of users">
                <tr>
                    <td>{{user.email}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.userType}}</td>
                    <td>
                        <form (submit)="edit(user)">
                            <button type="submit" class="btn btn-primary btn-block">
                                Editar
                            </button>
                        </form>
                    </td>
                    <td>
                        <form (submit)="delete(user)">
                            <button type="submit" class="btn btn-primary btn-block">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>