<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Header -->
  <header>
    <div class="block">
      <div class="header">
        <div class="content-top">
          <div class="wave-background">
            <img src="./assets/img/wave.svg" alt="lines">
          </div>
          <div class="container">
            <div class="logo-container">
              <img src="./assets/img/Logo.png" alt="Logo" class="image">
              <h1 class="title">GENIUS BOTSITOS</h1>
            </div>
          </div>
          <!-- Menu -->
          <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
          </label>
          <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
              <li><a href="http://localhost:4200/signup">Registrarse</a></li>
              <li><a href="http://localhost:4200/signin">Iniciar Sesión</a></li>
              <li><a href="http://localhost:4200/forum/posts">Foro</a></li>
              <li><a href="http://localhost:4200/userdetail">Usuarios</a></li>
              <li><a href="http://localhost:4200/edituser">Editar Perfil</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- content -->
  <main>
    <div class="align">
      <form [formGroup]="formulario" (ngSubmit)="signUp()">
        <h2 class="sesion">Crear Cuenta</h2>
        <div class="user">
          <img src="./assets/img/Login.png" alt="Login">
        </div>
        <br>
        <div class="botons">
          <div class="campo">
            <input type="email" formControlName="email" id="email" name="email" placeholder="Correo" class="enter"
              required>
          </div>

          <div class="campo">
            <input type="text" formControlName="username" id="username" name="username" placeholder="Usuario"
              class="enter" required>
          </div>

          <div class="campo">
            <input type="password" formControlName="password" id="password" name="password" placeholder="Contraseña"
              class="enter" required>
          </div>

          <div class="campo">
            <label class="campo" for="lista">Tipo de Cuenta:
              <select class="enter" placeholder="Tipo de Cuenta" name="userType" id="lista" formControlName="userType">
                <option value="admin" class="desplegar-option">Admin</option>
                <option value="user" class="desplegar-option">Usuario</option>
              </select>
            </label>
          </div>
          <div class="botons2">
            <button type="submit" class="registrarse">Registrarse</button>
            <a href="http://localhost:4200/signin"><input type="button" value="Iniciar Sesión" class="ingresar"></a>
          </div>
        </div>
      </form>
    </div>
  </main>
  <!-- footer -->
  <footer>
    <div class="main">
      <div class="footer">
        <div class="content">
          <div class="wave-background-bot">
            <img src="./assets/img/wave.svg" alt="lines">
          </div>
          <div>
            <div>
              <a href="https://www.linkedin.com/in/luamartz">Luisa María Martínez Ramírez</a>
            </div>
            <div>
              <a href="https://www.linkedin.com/in/marianny-marquez/">Marianny Melissa Márquez Camacho</a>
            </div>
            <div>
              <a href="#">Gyna Alexandra Herrera Álvarez</a>
            </div>
            <div>
              <a href="#">Jasbbleidy Caterine Arenilla Cantillo</a>
            </div>
            <div>
              <a href="#">Sandra Milena Ruiz López</a>
            </div>
            <div>
              <a href="#">María Fernanda Valencia Farfán</a>
            </div>
            <div>
              <a href="#">Lina Marcela Caro Cortés</a>
            </div>
          </div>
          <div>
            <img src="./assets/img/Logo.png" alt="Logo" class="image">
            <p>©2023 Genius Botsitos</p>
          </div>
        </div>
      </div>
    </div>

  </footer>
</body>

</html>
