  body {
    margin: 0;
    padding: 0;
  }

  * {
    font-family: Roboto;
  }

  /* Header */
  .header {
    justify-content: center;
    align-items: center;
    position: relative;
    margin:0;
    width: 100%;
    background-color: #6500e3;
    color: #fff;
    max-height: 4.5rem;
    text-align: center;
    z-index: 10;
    display: grid;
    grid-area: header;
  }
  .block{
    display: block;
  }

  .wave-background {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 5;
    display: flex;
    object-fit: contain !important;
    background-repeat: repeat-x;
    background-size: 100% auto;
  }


  .wave-background-bot {
    position: absolute;
    bottom: 15.5rem;
    left: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 5;
    display: flex;
    object-fit: contain !important;
    background-repeat: repeat-x;
    background-size: 100% auto;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .content-top {
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    padding: 0;
    background-color: #6500e3;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    padding-left: 0;
    top: 1.7rem;
  }

  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin:0;
    padding:0;
  }

  #sidebarMenu {
    /* height: 60%; */
    position: fixed;
    top: 2.5rem;
    left: 0.5rem;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #6500e3 0%, #3C0286 100%);
    z-index: 7;
  }

  .sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
  }

  .sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    z-index: 11;
  }

  .sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
    z-index: 11;
  }

  .sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    z-index: 11;
  }

  input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
  }

  input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }

  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 1.7rem;
    left: 1.5rem;
    height: 25px;
    width: 25px;
  }

  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }

  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }

  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }

  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }

  input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }

  input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }

  input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }

  /* fin header */

  /* CONTENT */

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10%;
  }

  h2 {
    text-align: center;
  }

  .user {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    border-radius: 80px;
    border: 1px solid #3C0286;
    background: #C18FFF;
  }

  .sesion {
    color: #1C003F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2rem;
  }

  .enter, .select, .option {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    border-radius: 50px;
    border: 1px solid #6500E3;
    background: #FFF;
    color: #363636;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .botons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

  }

  .botons2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    align-self: stretch;
    margin-bottom: 1rem;
    width: 1rem;

  }

  .ingresar {
    display: flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border-radius: 50px;
    border: 1px solid #1C003F;
    background: #6500E3;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
  }

  .registrarse {
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #3C0286;
    background: #E6D1FF;
    color: #3C0286;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .container2 {
    height: 120px;
    fill: #6500E3;
    color: #fff;
    background-color: #6500E3;
    font-size: 15px;
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: auto;
  }

  .line2 {
    z-index: 1;
    position: absolute;
    width: auto;
    margin-bottom: 70px;
  }

  /* Estilos generales */
  .boton-desplegable {
    position: relative;
    display: inline-block;
  }

  .toggle-buttons {
    display: none;
  }

  .image-button {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }

  .campo {
    cursor: pointer;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 2rem;

    .desple {
      display: flex;
      justify-content: left;

    }
  }

  .buttons-container {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
  }

  /* Estilo de los botones en el contenedor */
  .desplegar-option {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
  }

  /* Cambiar el color al pasar el cursor por encima */
  .desplegar-option:hover {
    background-color: #d41414;
  }

  /* Mostrar los botones cuando el checkbox está marcado */
  .toggle-buttons:checked~.buttons-container {
    display: block;
  }

  a {
    text-decoration: none;
  }

  /* footer */

  .footer {
    z-index: 1;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
    color: #fff;
    --footer-background: #6500E3;
    align-items: center;
    margin:0;

  }

  .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
  }

  .content a,
  p {
    color: #fff !important;
    text-decoration: none !important;
  }

  .content b {
    color: white;
  }

  .content p {
    margin: 0;
    font-size: .75rem;
  }

  .content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.25rem 0;

  }

  .image {
    align-self: center;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }

  /* footer */

  .footer {
    z-index: 1;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
    color: #fff;
    --footer-background: #6500E3;
    align-items: center;
    margin:0;

  }

  .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
  }

  .content a,
  p {
    color: #fff !important;
    text-decoration: none !important;
  }

  .content b {
    color: white;
  }

  .content p {
    margin: 0;
    font-size: .75rem;
  }

  .content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.25rem 0;

  }

  .image {
    align-self: center;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
