body{
  margin: 0;
  padding: 0;
}

.container{
  height: 135px;
  fill: #6500E3;
  color:#FFF;
  background-color: #6500E3;
  display: flex;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: space-evenly;
  align-items: center;
}

.tittle{
  display: flex;
  justify-content: center;
  margin-right: 10rem;
}

.menu{
  margin-left: -22rem;
}

.container2{
  height: 135px;
  fill: #6500E3;
  color: #fff;
  background-color: #6500E3;
  font-family: Roboto;
  font-size: 20px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.line2{
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(187, 187, 187);
}

.line{
  z-index: 1;
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  color: rgb(187, 187, 187);
}
