* {
  --accent: #E6D1FF;
  --accentComplementary: #3C0286;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  min-height: 100%;
  color: #000;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.5rem;
}

.header {
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  grid-area: header;
  height: 10rem;
  color: #fff !important;
  background: #6500E3;
  align-items: center;
  margin: 0;

  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  text-align: center;

  padding: 0.5rem;
  transition: padding 0.3s ease-in-out;
  /* transicion suave*/
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
}

.header.shrink h1 {
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#lg {
  width: 6rem;
  height: 6rem;
  margin-right: 0.5rem;
}

.header.shrink #lg {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.header.shrink {
  height: 4rem;
}

.wave-background #waves {
  position: absolute;
  top: 9.5rem;
  left: 0;
  width: 100%;
  display: flex;
  object-fit: contain !important;
  background-repeat: repeat-x;
  background-size: 100% auto;
}

.header.shrink #waves {
  top: 2.5rem;
  height: 5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
}

.logo {
  display: flex;
  align-items: center;
}

.align {
  padding: 18rem 3rem;
}

.container {
  display: flex;
  align-items: center;
}

.content-top {
  z-index: 2;
  display: flex;
  justify-content: center;
}

.content-top div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* menu */
#sidebarMenu {
  position: fixed;
  top: 11rem;
  left: 0;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #6500e3 0%, #860274 100%);
  z-index: 7;
}

.header.shrink #sidebarMenu {
  top: 4.5rem;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  z-index: 11;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
  z-index: 11;
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  z-index: 11;
}

input[type="checkbox"]:checked~#sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

#sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 5rem;
  left: 1.5rem;
  height: 27px;
  width: 27px;
}

.header.shrink #sidebarIconToggle {
  top: 2rem;
  height: 25px;
  width: 25px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/* footer */

.footer {
  z-index: 1;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
  color: #fff;
  --footer-background: #6500E3;
  align-items: center;
  margin: 0;
}

.content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
  font-size: 0.8rem;
}

.content a,
p {
  color: #fff;
  text-decoration: none !important;
}

.content b {
  color: white;
}

.content p {
  margin: 0;
  font-size: .75rem;
}

.content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.25rem 0;
}

.image {
  align-self: center;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

.wave-background-bot {
  position: absolute;
  bottom: 11.5rem;
  left: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 5;
  object-fit: contain !important;
  background-repeat: repeat-x;
  background-size: 100% auto;
}

/* CONTENT */

/* filtro busquedas */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid var(--accentComplementary);
  border-right: none;
  padding: 5px 20px;
  height: 28px;
  border-radius: 25px 0 0 25px;
  outline: none;
}

.searchTerm:focus{
  color: var(--accentComplementary);
}

.searchButton {
  width: 100px;
  height: 40px;
  background: var(--accentComplementary);
  text-align: center;
  color: #fff;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

/* Create post */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10%;
  gap: 10px;

}

.card1 {
  border-radius: 35px;
  overflow: hidden;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTop {
  position: relative;
  background-color: rgb(71, 5, 171);
  padding: 65px 35px 35px 35px;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}

.cardBottom {
  position: relative;
  margin-bottom: -35px;
  background-color: #f2e8ff;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  z-index: 1;
}
.tag {
  border: 1px solid var(--accentComplementary)!important;
}
.cardTag {
  padding: 10px 20px;
  border: 1px solid #ebe1f6;
  color: white;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.10);
  font-style: normal;
  height: auto;
}

/* get posts */

ul {
  list-style: none;
}

:first-letter {
  text-transform: capitalize
}

/* -- */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 35px;
  padding: 25px;
  justify-content: center;
}

.card {
  border-radius: 35px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}

.card__top {
  position: relative;
  background-color: var(--accentComplementary);
  padding: 65px 35px 35px 35px;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}

.card__bottom {
  position: relative;
  margin-bottom: -35px;
  background-color: var(--accent);
  padding: 35px;
  border-radius: 35px;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  z-index: 1;
}

.card__tag {
  padding: 10px 20px;
  border: 1px solid var(--accent);
  color: white;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.10);
}

.card__text {
  font-size: 1.2rem;
  color: black;
}