<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foro</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Header -->
  <header>
    <div class="header">
      <div class="content-top">
        <div class="wave-background">
          <img id="waves" src="./assets/img/wave.svg" alt="lines">
        </div>
        <div class="logo-container">
          <img id="lg" src="./assets/img/Logo.svg" alt="Logo">
          <h1 class="title logo">GENIUS BOTSITOS</h1>
        </div>

        <!-- Menu -->
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" id="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <li><a [routerLink]="['signup']">Registrarse</a></li>
            <li><a [routerLink]="['signin']">Iniciar Sesión</a></li>
            <li><a [routerLink]="['forum/posts']">Foro</a></li>
            <li><a [routerLink]="['user']">Usuarios</a></li>
            <li><a [routerLink]="['edit']">Editar Perfil</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- content -->
  <main>
    <div class="align">
      <div class="formulario enter">
        <h1 class="sesion">Foro</h1>
        <!-- Filtros de búsqueda -->
        <div class="sample ten">
          <input class="enter" type="text" [(ngModel)]="searchUsername" name="searchUsername" id="searchUsername"
            placeholder="Buscar por usuario">
          <button type="submit" class="btn btn-search ingresar ease" (click)="searchPosts()">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <!-- Crear publicación -->
        <form (submit)="createPost()">
          <div class="botons">
            <div class="campo">
              <input class="enter ease" [(ngModel)]="postData.username" name="username" placeholder="Usuario">
            </div>
            <div class="campo">
              <input class="enter ease" [(ngModel)]="postData.title" name="title" placeholder="Título">
            </div>
            <div class="campo">
              <textarea class="enter-text ease" [(ngModel)]="postData.content" name="content"
                placeholder="Contenido"></textarea>
            </div>
            <div class="campo">
              <div class="botons2">
                <button type="submit" class="ingresar ease">Crear Publicación</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Lista de Posts -->
      
        <h1 id="title">Publicaciones</h1>
        
          <ul id="post-list">
            <li class="post" *ngFor="let post of posts">
              <div class="post-info">
                <h2 id="h2">{{ post.title }}</h2>
                <h4 id="h4">ID: {{ post._id }}</h4>
                <div class="user-info">
                  <p id="p">Publicado por: {{ post.username }}</p>
                </div>
                <p id="p">{{ post.content }}</p>
                <div class="botons2">
                  <button type="submit" class="registrarse" (click)="deletePost(post._id)">Eliminar</button>
                </div>
              </div>
            </li>
          </ul>
        </div>

    
  </main>

  <!-- footer -->
  <footer>
    <!-- <div class="main"> -->
    <div class="footer">
      <div class="content">
        <div class="wave-background-bot">
          <img src="./assets/img/wave.svg" alt="lines">
        </div>
        <div>
          <div>
            <a href="https://www.linkedin.com/in/luamartz">Luisa María Martínez Ramírez</a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/marianny-marquez/">Marianny Melissa Márquez Camacho</a>
          </div>
          <div>
            <a href="#">Gyna Alexandra Herrera Álvarez</a>
          </div>
          <div>
            <a href="#">Jasbbleidy Caterine Arenilla Cantillo</a>
          </div>
          <div>
            <a href="#">Sandra Milena Ruiz López</a>
          </div>
          <div>
            <a href="#">María Fernanda Valencia Farfán</a>
          </div>
          <div>
            <a href="#">Lina Marcela Caro Cortés</a>
          </div>
        </div>
        <div>
          <img src="./assets/img/Logo.svg" alt="Logo" class="image">
          <p>©2023 Genius Botsitos</p>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </footer>

</body>

</html>