<!-- header -->
<!-- <a [routerLink]="['/inicio']">Foro Genius Botsitos</a>
<nav>
	<ul>
	  <li><a [routerLink]="['/home']">Home</a></li>
	  <li><a [routerLink]="['/login']">Login</a></li>
	  <li>
		<a href="#">Forum</a>
		<ul>
		  <li><a [routerLink]="['/forum/posts']">Posts</a></li>
		  <li><a [routerLink]="['/forum/create']">Create Post</a></li>
		</ul>
	  </li>
	  <li><a [routerLink]="['/users']">Users</a></li>
	  <li><a [routerLink]="['/signup']">Sign Up</a></li>
	  <li><a [routerLink]="['/signin']">Sign In</a></li>
	  <li><a [routerLink]="['/user']">User</a></li>
	  <li><a [routerLink]="['/edit']">Edit User</a></li>
	</ul>
  </nav> -->


<!-- content -->
<router-outlet>
  
</router-outlet>
