body{
  margin: 0;
  padding: 0;
}

.container{
  height: 135px;
  fill: #6500E3;
  color:#FFF;
  background-color: #6500E3;
  display: flex;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.formulario{
  display: flex;
  height: 408px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  }

  .user{
    display: flex;
    padding: 40px;
    align-items: flex-start;
    border-radius: 60px;
    border: 1px solid #3C0286;
    background: #C18FFF;
}

.sesion{
    color: #1C003F;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.enter{
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    border-radius: 50px;
    border: 1px solid #6500E3;
    background: #FFF;
    color: #363636;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.botons2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.ingresar{
    display: flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border-radius: 50px;
    border: 1px solid #1C003F;
    background: #6500E3;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.registrarse{
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #1C003F;
    background: #E6D1FF;
    color: #3C0286;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container2{
  height: 135px;
  fill: #6500E3;
  color: #fff;
  background-color: #6500E3;
  font-family: Roboto;
  font-size: 20px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.line2{
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(187, 187, 187);
}

.line{
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

