<h2>Crear una nueva publicación</h2>
<form (ngSubmit)="createPost()">
  <label for="username">Username: </label>
  <input type="text" ngModel="postData.username" name="title" id="username" required>
  <br>
  <label for="title">Title: </label>
  <input type="text" ngModel="postData.title" name="title" id="title" required>
  <br>
  <label for="content">Content:</label>
  <textarea ngModel="postData.content" name="content" id="content" required></textarea>
  <br>
  <button type="submit">Create Post</button>
</form>




<!-- <form (submit)="createPost()">
    <label>Username: </label>
    <input type="text" [(ngModel)]="postData.username" name="title" required>
    <br>
    <label>Title: </label>
    <input type="text" [(ngModel)]="postData.title" name="title" required>
    <br>
    <label>Content: </label>
    <textarea [(ngModel)]="postData.content" name="content" required></textarea>
    <br>
    <button type="submit">Create Post</button>
</form> -->
